@charset "UTF-8";


@font-face {
    font-family: 'Cordel';
    src: url(fontes/TT\ Masters\ Rough\ Bold.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Signika';
    src: url(fontes/Signika-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
}

:root {
    --fonte-cabeçalho: 'Signika', sans-serif
    --fonte-texto: 'Cordel', Arial, Helvetica, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: var(--fonte-cabeçalho);
    background-color: black;
    min-height: 160px;
    text-align: center;
}

header > h1 {
    color: white;
    padding-top: 30px;
    font-size: 3em;
    font-weight: bold;
}

header > p {
    color: white;
    text-align: center;
    padding-top: 10px;
}

header a {
    color: white;
    font-style: italic;
}

main {
    font-family: var(--fonte-texto);
    border: 3px solid black;
}

main p {
    display: block;
    font-family: var(--fonte-texto);
    font-size: 2.3em;
    line-height: 70px;
    max-width: 500px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 40px;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
}

#flor {
    background: black url(imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;
    color: white;
    height: 140vh;
    position: relative;
}

#carta {
    background: black url(imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
    color: white;
    height: 140vh;
    position: relative;
}

.fundo {
    background: rgba(0, 0, 0, 0.445);
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    margin-left: 10px;
    border: 1px solid rgba(97, 90, 90, 0.595);
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
}

footer a {
    color: white;
    font-style: italic;
}

footer a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 3px;
}